.Mission{
    text-align: center;
}

.Wijn{
    margin: auto;
    width: 600px;
    height: 400px;
}

.Cuisine{
    margin: auto;
    width: 600px;
    height: 400px;
}

.Food{
    margin: auto;
    width: 600px;
    height: 400px;
}
